<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% block styles %}
	    <link rel="stylesheet" href="./css/all.css">
	{% endblock %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="js/slick.js"></script>
	<script src="js/mediaelement-and-player.js"></script>



</head>
<body>
	<div class="wrapper">
		{% include './blocks/_header.twig' %}
		<div class="main">
			{% block content %}
			{% endblock %}
		</div>
		{% include './blocks/_footer.twig' %}
	</div>

			<script src="js/slick.js"></script>
			<script>

		    	$(document).ready(function(){
		    	  $('.multiple-slide').slick({
		    	  	vertical: true,
		    	  	slidesToShow: 5
		    	  });
		    	});
		    	var player = new MediaElementPlayer('#player1');
	    	</script>
</body>
</html>
