<div class="slider-block">
	<div class="container">
		<ul class="breadcrumbs">
			<li>
				<a href="#">Главная</a>
			</li>
			<li>
				<a href="#">Мобильные телефоны и смартфоны</a>
			</li>
			<li>
				<a href="#" class="current">Samsung Galaxy J7 J700H/DS Black</a>
			</li>		
		</ul>
		<h1 class="title-slider">Samsung Galaxy J7 J700H/DS Black</h1>
		<ul>
			<li>
				<a href="#">Каталог товаров</a>
			</li>
			<li>
				<a href="#">Всё о товаре</a>
			</li>
			<li>
				<a href="#">Характеристики</a>
			</li>
			<li>
				<a href="#">Отзывы</a>
			</li>
			<li>
				<a href="#">Обзоры</a>
			</li>
			<li>
				<a href="#">Статьи</a>
			</li>
		</ul>
		<ul class="slider">
			<li>
				<img src="" alt="Image description">
			</li>
			<li>
				<img src="" alt="Image description">
			</li>
		</ul>
	</div>
</div>