body {
	font: #{$font-size}/#{$line-height} $font-sans;
	color: $font-color;
	min-width: 320px;
	background: $bg-color;
}
.clearfix {
	@include clearfix;
}
.container {
	@include container (1576px, 0 10px);
	margin: 0 auto;
}
.logo {
	font-size: 0;
	line-height: 0;
	background: url('../img/logo.png') no-repeat;
	width: 189px;
	height: 84px;
	display: block;
	a {
		display: block;
		height: 100%;
	}
}

