<div class="product sale-product">
	<div class="holder-img">
		<img src="img/set-img-4.png" width="171" height="328" alt="Image description">
		<a href="#" class="btn btn-action">Акция!</a>
		<a href="#" class="btn btn-sale">Уценка %</a>
	</div>
	<div class="holder-product">
		<div class="title">Моноколесо InMotion SCV V5<br>(White)<br>3ая строчка</div>
	</div>
	<div class="holder-tools">
		<div class="holder-price">
			<div class="rating">
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star-half-o"></span>
				<span class="fa fa-star-o"></span>
			</div>
			<div class="reviews">Отзывов: <span class="count-reviews">0</span></div>
			<div class="price">11 999<span class="cy"> грн</span></div>
		</div>
		<div class="holder-buy">
			<div class="holder-compare">
				<a href="#" class="btn btn-compare">Сравнить</a>
				<a href="#" class="fa fa-heart btn-like"></a>
			</div>
			<a href="#" class="btn btn-bay">Купить</a>
		</div>
	</div>
</div>